/* MultiSelectDropdown.module.scss */
.dropdown 
    position: relative
    display: inline-block

.dropdownToggle 
    background-color: #f1f1f1
    border: 1px solid #ccc
    padding: 10px
    cursor: pointer


.dropdownContent 
    display: none
    position: absolute
    background-color: #fff
    border: 1px solid #ccc
    max-height: 150px
    overflow-y: auto


.label 
    display: block
    padding: 5px 10px
    cursor: pointer


.label:hover 
    background-color: #e0e0e0

